@import '../../Style/Shared/font-defination.scss';
@import '../../Style/Shared/Color.scss';

.text{
   font-size: $extra-large-font-text;
   background-color:$primary-background;
   $size:100px;
   height:$size;
   width: 600px;
   margin: auto;
}

Button{
    background-color: black;
    color: $text-secondary-color;
    height: 60px;
    width:100px;
    font-size:$regular-font-text;

    &:hover{
        background-color: $text-secondary-color;
        color: black;
    }
}